
{% load static %}
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="{% static 'newChat.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
<!--         <meta http-equiv="refresh" content="5; URL=">-->
    </header>
{% include 'navbar.html' %}
    <body id="chat-history">

     <div>
        <div class="chat">
            <div class="chat-history">
              <ul>
    <!--me-->
                {% for i in obj %}
                    {% if user == i.user %}
                        {% if i.firstChar in tool_2.alphabet %}
                            <li id={{ forloop.counter }} class="clearfix">
                              <div class="message-data align-right">
                                <span class="message-data-time">{{ i.time }}</span>
                                <span class="message-data-name">{{i.user.username}}</span>
                              </div>
                              <div class="float-right" style="font-size:10px; margin-right:0px; margin-left: 8px">
                                <div><a href="{{ i.get_url_edit }}">Edit</a></div>
                                <div style="margin-top:10px"><a href="{{ i.get_url_delete }}">Delete</a></div>
                              </div>
                                {% if i.image %}
                                  <div class="message other-message float-right" style="padding:5px">
                                    <img src="{{ i.image.url }}" style="width: 100%;"/>
                                    {{ i.message }}
                                  </div>
                                {% else %}
                                    <div class="message other-message float-right">
                                {{ i.message }}
                                    </div>
                                {% endif%}
                            </li>
                        {% else %}
                            <li id={{ forloop.counter }} class="clearfix">
                              <div class="message-data align-right">
                                <span class="message-data-time">{{ i.time }}</span>
                                      <span class="message-data-name">{{i.user.username}}</span>
                              </div>
                              <div class="float-right" style="font-size:10px; margin-right:0px; margin-left: 8px">
                                <div><a href="{{ i.get_url_edit }}">Edit</a></div>
                                <div style="margin-top:10px"><a href="{{ i.get_url_delete }}">Delete</a></div>
                              </div>
                              {% if i.image %}
                                  <div class="message other-message float-right" style="padding:5px">
                                    <img src="{{ i.image.url }}" style="width: 100%;"/>
                                    {{ i.message }}
                                  </div>
                                {% else %}
                                    <div class="message other-message float-right">
                                {{ i.message }}
                                    </div>
                                {% endif%}
                            </li>
                        {% endif %}
                    {% else %}
    <!--other-->
                        {% if i.firstChar in tool_2.alphabet %}
                            <li id={{ forloop.counter }}>
                              <div class="message-data">
                                  <span><a href="../../profile/{{i.user.username}}" class="message-data-name">{{i.user.username}}</a></span>
                                <span class="message-data-time">{{ i.time }}</span>
                              </div>
                                {% if i.image %}
                                  <div class="message my-message" style="padding:5px">
                                    <img src="{{ i.image.url }}" style="width: 100%;"/>
                                    {{ i.message }}
                                  </div>
                                {% else %}
                                    <div class="message my-message">
                                {{ i.message }}
                                    </div>
                                {% endif%}
                            </li>
                        {% else %}
                            <li id={{ forloop.counter }}>
                              <div class="message-data">
                                <span><a href="../../profile/{{i.user.username}}" class="message-data-name">{{i.user.username}}</a></span>
                                <span class="message-data-time">{{ i.time }}</span>
                              </div>
                                {% if i.image %}
                                  <div class="message my-message" style="padding:5px">
                                    <img src="{{ i.image.url }}" style="width: 100%;"/>
                                    {{ i.message }}
                                  </div>
                                {% else %}
                                    <div class="message my-message">
                                {{ i.message }}
                                    </div>
                                {% endif%}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                  <div class="emptyPlace"></div>
              </ul>
            </div>

        <div class="chat-message clearfix">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <input id="send" type="submit" value="Send">

            </form>
        </div>
        <script>
            var div = document.getElementById("chat-history");
            div.scrollTop = div.scrollHeight - div.clientHeight;

			function submitOnEnter(event){
				if(event.which === 13 && !event.shiftKey){
					var subkey = document.getElementById("send");
					subkey.click();
					event.preventDefault();
				}
			}
			document.getElementById("textarea").addEventListener("keypress", submitOnEnter);

			var prevScrollpos = window.pageYOffset;
            window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
              if (prevScrollpos > currentScrollPos) {
                document.getElementById("myTopnav").style.top = "0";
              } else {
                document.getElementById("myTopnav").style.top = "-50px";
              }
              prevScrollpos = currentScrollPos;
            }

        </script>
    </body>
</html>

