{% extends 'base.html' %}

{% block content %}

<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>

<div class="topnav" id="myTopnav">
    {% if active %}
        <a href="/chat/1" class="active">Public Chat</a>
        <div class="dropdown">
            <button class="dropbtn">Private Chats
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for i in pv_list %}
                    <a href="../../private-chat/{{ i.id }}" class="notification">
                        <span>{{ i.name }}</span>
                        <span class="badge">{{i.unread}}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <a href="/myprofile">Profile</a>
        <a href="/logout/">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    {% else %}
        <a href="/login/" class="active">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    {% endif %}

</div>
</br>
</br>
</br>
</br>
</br>
</br>

<h1 style="text-align: center">Hello {{name}}</h1>
</br>
</br>

<h5 style="text-align: center">Now I Have To Work On Channel :)</h5>
<h5 style="text-align: center">Tooye Mobile Dg Pm Nmire Zire Edit o Delete</h5>
<h5 style="text-align: center">Pm Haye Taraf Size esh Fix Shod</h5>
<h5 style="text-align: center">Moshkele Inke Pm Ha Miraft Zire Textarea Fix Shod</h5>
<h5 style="text-align: center">Textarea e Send Message Fix Shod</h5>
<h5 style="text-align: center">Send Message Fix Shod Vali Responsive esh Monede Hanuz(Bara Aln Khoobe)</h5>
<h5 style="text-align: center">Notifications ha Fix shod</h5>
<h5 style="text-align: center">Navbar e Responsiv kolli Fix shod</h5>
<h5 style="text-align: center">Redirect Haye Login o Ina Fix Shod</h5>
<h5 style="text-align: center">Logout Fix Shod</h5>
<h5 style="text-align: center">Age Login Nakarde Bashe , Login Ro Sabz Mikone</h5>
<h5 style="text-align: center">Page Login Add Shod</h5>
<h5 style="text-align: center">Age Login nakarde bashe , Sign Up Ro Sabz mikone, vagarna Public Chat ro</h5>
<h5 style="text-align: center">Esmesho Jeloye Hello mizane</h5>
<h5 style="text-align: center">Tedad Unread Ha Ro Oon Bala Mizane :)</h5>
<h5 style="text-align: center">Navbar Ta Hodoodi Responsive Shod ...</h5>
<h5 style="text-align: center">Unread Message Ezafe Shod</h5>
<h5 style="text-align: center">Mitoni Profile khodeto edit koni</h5>
<h5 style="text-align: center">Profile khodet ba taraf different shod</h5>
<h5 style="text-align: center">PV ezafe shod</h5>
<h5 style="text-align: center">PV ha i ke tooshi ,oomadan oon bala</h5>
<h5 style="text-align: center">To Public nmishe fosh dad, vali too pv mishe</h5>
<h5 style="text-align: center">moshkel RTL o ina fix shod</h5>
<h5 style="text-align: center">url routing ha kheily herfei shod :)</h5>

{% endblock %}