
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>

<div  id="myTopnav" class="topnav">
    <a href="/" class="active">Home</a>
    <a href="/chat/1" class="notification">Public Chat</a>
    <div class="dropdown notificationDropdown">
        <span>
            <button class="dropbtn">Private Chats
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for i in pv_list %}
                    {% if i.unread %}
                        <a href="/private-chat/{{ i.id }}" class="notification">
                            <span>{{ i.name }}</span>
                            <span class="badge">{{i.unread}}</span>
                        </a>
                    {% else %}
                         <a href="/private-chat/{{ i.id }}">{{ i.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </span>
        {% if sum_unreads %}
            <span class="badgeDropdown">{{sum_unreads}}</span>
        {% else %}
            <span class="badgeDropdown"></span>
        {% endif %}
    </div>
    <a href="/myprofile">Profile</a>

    <div class="dropdown">
        <button class="dropbtn">Games
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
             <a href="game/dino">Dino</a>
             <a href="#">...</a>
        </div>
    </div>

    <a style="float:right" href="/logout">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>