
body{
    padding-left:50px;
}


.dropbtn {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  margin-top:50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;

}

.dropdown-content a {
  padding: 12px 16px;
  display: block;

}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}



.liquid-button {
	background: #11a7c1;
	color: #fff;
	border: 0;
	border-radius: 3px;
	font-weight: 400;
	padding: 5px 20px;
	cursor: pointer;
	transition: 0.2s ease-in-out all;
	outline: 0;
	min-width: 80px;
	background: transparent url('./liquid.png');
	background-repeat: repeat-y;
}
.liquid-button:hover {
	transform: scale(1.1);
}
@keyframes wave {
	0% {
		background-position: left center;
		background-size: 0px 20px;
	}
	100% {
		background-position: 0 200px;
		background-size: 100px 100px;
	}
}