

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    background: #F2F5F8;

  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 0px 0;
  color: white;
  width: 97%;
  height: 100%:
}
ul{
  list-style-type: none;
  }

.chat {
  width: 100%;
    color: #434651;
  float: left;


}
.chat .chat-history {
padding-right:10px;
margin-left:-35px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;


}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 12px 20px;
  line-height: 20px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 15px;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
    display: inline-block;
    max-width: 90%;

}
.chat .chat-history .other-message {
  background: #94C2ED;
  max-width: 80%;
  display: inline-block;

}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: calc(100% - 20px);
}
.chat .chat-message {
    padding-left:10px;
    padding-bottom:15px;
    width: 99%;
     position: fixed;
     bottom: 0;
   border-top: 2px solid white;
    background: rgba(152,152,152,0.2);
}
.chat .chat-message textarea {
  width: 80%;
  float:left;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 30px;
  border-radius: 5px;
  resize: none;
  border:1px solid black;

}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message input {
  float: right;
  color: #00bfff;
  font-size: 16px;
  border-radius:10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
  top: 18%;
  padding:8px;
  margin-left:1%;
  margin-right:5%;
  position: absolute;
}
.chat .chat-message input:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.emptyPlace {
    height:190px;
    width:100%;
}




#id_image{

  float: left;
  color: #00bfff;
  font-size: 12px;
  border-radius:10px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background: #F2F5F8;

  top: 65%;
  left: -5px;
  margin-left:2%;
  padding:5px;
  position: absolute;
}











